<div class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        class="text-decoration-none text-warning mx-2"
        href="https://www.facebook.com"
        >&#9824;</a
      >
      <a
        class="text-decoration-none text-success mx-2"
        href="https://www.instagram.com/brainfart_productions/"
        >&#9827;</a
      >
      <a
        class="text-decoration-none text-danger mx-2"
        href="https://www.github.com"
        >&#9829;</a
      >
      <a
        class="text-decoration-none text-alert mx-2"
        href="https://www.google.com"
        >&#9830;</a
      >
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 the_smiling_bandit
  </div>
</div>
