<div
  class="row featurette my-5 mx-2 d-flex flex-column align-items-center text-center text-white"
>
  <div class="col-md-7">
    <h2 class="featurette-heading">For a better tomorrow!</h2>
    <p class="lead">
      At Famazon, we're not just about delivering smiles – we're dedicated to
      delivering a sustainable future. We believe that convenience and
      environmental responsibility can go hand-in-hand. That's why we're
      constantly innovating to reduce our carbon footprint. From our electric
      delivery fleet and renewable energy powered fulfillment centers, to our
      sustainable packaging and reforestation initiatives, we're committed to
      minimizing our impact on the planet. We're proud to be a leader in green
      commerce, and we're always striving to do more. Because at Famazon, we
      believe that a healthy planet is essential for a healthy business.
    </p>
    <br />
    <p class="lead">
      At Famazon, we never stop pushing the boundaries of what's possible. We're
      not just building a company, we're building the future – and it's going to
      be colossal. Beyond our orbital space station, we're already developing
      plans for a network of underwater fulfillment centers, a self-sustaining
      lunar colony with space delivery, and a time-travel service that lets you
      order products from the past. Why stop there? We're exploring
      interdimensional shipping, personalized pocket universes, and even the
      possibility of replicating entire planets for premium members. The future
      is vast, and at Famazon, we're just getting started.
    </p>
  </div>
  <div class="col-md-5">
    <img
      class="featurette-image img-responsive center-block"
      src="img/about.jfif"
      alt="Generic placeholder image"
      width="100%"
    />
  </div>
</div>
