<div class="container marketing my-5 bg-dark">
  <div class="row d-flex flex-column align-items-center text-center text-white">
    <div class="col-lg-4">
      <img class="img-responsive" src="img/famazonSpace.jfif" width="100%" />
      <h2>Introducing Famazon Orbital: The Future of Shopping is Here!</h2>
      <p>
        Forget drones and same-day delivery. Famazon is launching a
        revolutionary space station designed to redefine online shopping.
        Experience instantaneous delivery via our patented teleportation
        technology. Browse a holographic catalog of millions of products in
        stunning 3D. Our AI-powered personal shoppers curate selections tailored
        to your unique needs.
      </p>
      <p>Famazon Orbital: Where the sky is no longer the limit!</p>
    </div>
  </div>
</div>
